# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code (optional: remove the '#' if you want to ignore VS Code configs)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Firebase config files (don't commit secrets)
google-services.json
GoogleService-Info.plist

# Android
android/.gradle/
android/gradle-wrapper.jar
android/local.properties
android/keystore.properties
android/captures/

# iOS
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/

# Web
web/packages

# Windows
windows/flutter/ephemeral/
windows/runner/GeneratedPluginRegistrant.*

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.*

# macOS
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio outputs
android/app/debug
android/app/profile
android/app/release
